<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<h1>{{title}}</h1>
    
<form method='post' action='/productos'>

  <input type='text' placeholder='Ingresa nombre' name='name' id='name' />
  <input type='text' placeholder='Ingresa precio' name='price' id='price' />
  <input type='text' placeholder='Ingresa la imagen' name='thumbnail' id='thumbnail' />
  <input type='submit' value='Cargar'/>

</form>
</body>
</html>

